<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="testimonials_listing_data_source" xsi:type="string">PME\Testimonials\Model\ResourceModel\Testimonials\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="PME\Testimonials\Model\ResourceModel\Testimonials\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">pme_testimonials</argument>
            <argument name="eventPrefix" xsi:type="string">testimonials_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">testimonials_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">PME\Testimonials\Model\ResourceModel\Testimonials</argument>
        </arguments>
    </type>
    <virtualType name="testimonialsGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
     <virtualType name="testimonialsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">PME\Testimonials\Model\ResourceModel\Testimonials\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">testimonialsGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="PME\Testimonials\TestimonialsImageUpload" type="PME\Testimonials\Model\ImageUploader">
    <arguments>
            <argument name="baseTmpPath" xsi:type="string">testimonials/tmp</argument>
            <argument name="basePath" xsi:type="string">testimonials</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
    </arguments>
    </virtualType>
               <type name="PME\Testimonials\Controller\Adminhtml\Index\Upload">
                <arguments>
                    <argument name="imageUploader" xsi:type="object">PME\Testimonials\TestimonialsImageUpload</argument>
                </arguments>
            </type> 
</config>